{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-decoration-underline">Vos avis</h1>
        <div class="avis grid center text-center d-flex flex-wrap justify-content-center">
            {% for avi in avis %}
                <div class="avi border border-dark border-1 p-2 m-3">
                    <h3>{{ avi.nom }} {{ avi.prenom }}</h3>
                    <h4>{{ avi.date ? avi.date|date('d/m/Y') : '' }}</h4>
                    <h5>{{ avi.description }}</h5>
                    {% if avi.note == 1 %}
                        <div class="star">
                            <i class="fa-solid fa-star star gold"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                        </div>
                    {% endif %}
                    {% if avi.note == 2 %}
                        <div class="star">
                            <i class="fa-solid fa-star star gold"></i>
                            <i class="fa-solid fa-star star gold"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                        </div>
                    {% endif %}
                    {% if avi.note == 3 %}
                        <div class="star">
                            <i class="fa-solid fa-star star gold"></i>
                            <i class="fa-solid fa-star star gold"></i>
                            <i class="fa-solid fa-star star gold"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                        </div>
                    {% endif %}
                    {% if avi.note == 4 %}
                        <div class="star">
                            <i class="fa-solid fa-star star gold"></i>
                            <i class="fa-solid fa-star star gold"></i>
                            <i class="fa-solid fa-star star gold"></i>
                            <i class="fa-solid fa-star star gold"></i>
                            <i class="fa-regular fa-star star"></i>
                        </div>
                    {% endif %}
                    {% if avi.note == 5 %}
                        <div class="star">
                            <i class="fa-solid fa-star gold"></i>
                            <i class="fa-solid fa-star gold"></i>
                            <i class="fa-solid fa-star gold"></i>
                            <i class="fa-solid fa-star gold"></i>
                            <i class="fa-solid fa-star gold"></i>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <a class="d-flex flex-wrap justify-content-center text-decoration-none" href="{{ path('app_avis_new') }}">
            <button class="button">Donnez le votre</button>
        </a>
    </div>
{% endblock %}
