{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center align-content-center">
        <h1>Liste des Produits</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Type</th>
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.prix }} €</td>
                    <td>{{ produit.type }}</td>
                    <td><a href="{{ path('app_produit_edit', {'id': produit.id}) }}"><button class="button">Modifier</button></a></td>
                    <td>{{ include('produit/_delete_form.html.twig') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun Produit trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_produit_new') }}"><button class="button">Créer un nouveau Produit</button></a>
    </div>
{% endblock %}
