{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 id="titre" class="text-center">FoodTruck, La Québecoise</h1>
        {% if app.user %}
            <div class="mt-3 mb-3 text-center">
                <h2>Tu es connecté en tant que {{ app.user.username }}</h2>
                <p><a href="{{ path('app_logout') }}"><button class="button">Se deconnecter</button></a></p>
            </div>
        {% endif %}
        <div class="text-center">
            <div class="row">
                <div class="col-sm">
                    <h3 class="text-decoration-underline">Gestion des Produits</h3>
                    <a href="{{ path('app_produit_index') }}"><img class="border border-dark"
                                                                   src="{{ asset('images/logos/produits.png') }}" width="250"
                                                                   alt="produits"/></a>
                </div>
                <div class="col-sm">
                    <h3 class="text-decoration-underline">Gestion des Localisations</h3>
                    <a href="{{ path('app_localisation_index') }}"><img class="border border-dark"
                                                                        src="{{ asset('images/logos/localisations.png') }}"
                                                                        width="250" alt="localisations"/></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h3 class="text-decoration-underline">Gestion des Ventes</h3>
                    <a href="{{ path('app_vente') }}"><img class="border border-dark"
                                                           src="{{ asset('images/logos/ventes.png') }}" width="250"
                                                           alt="ventes"/></a>
                </div>
                <div class="col-sm">
                    <h3 class="text-decoration-underline">Gestion des Matières Premières</h3>
                    <a href="{{ path('app_matiere_index') }}"><img class="border border-dark"
                                                                   src="{{ asset('images/logos/achats.png') }}" width="250"
                                                                   alt="ventes"/></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
