{% extends 'base.html.twig' %}

{% block body %}
    <div class="container align-content-center text-center">
        <h1>Liste des Locations</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Rue</th>
                <th>Ville</th>
                <th>Codepostal</th>
                <th>Pays</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for location in locations %}
                <tr>
                    <td>{{ location.id }}</td>
                    <td>{{ location.nom }}</td>
                    <td>{{ location.rue }}</td>
                    <td>{{ location.ville }}</td>
                    <td>{{ location.codepostal }}</td>
                    <td>{{ location.pays }}</td>
                    <td>{{ location.description }}</td>
                    <td><a href="{{ path('app_location_edit', {'id': location.id}) }}">Modifier</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucune Location trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_location_new') }}">Créer une nouvelle Location</a>
    </div>
{% endblock %}
