<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FoodTruck, T'as La Frite!{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/logos/icon.jpg') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script src="https://kit.fontawesome.com/0583a05b6b.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="nav">
    <ul class="mx-auto">
        <li>
            <a href="{{ path('app_index') }}">
                <figure>
                    <img src="{{ asset('images/logos/accueil.png') }}" width="50" alt="acceuil"/>
                    <figcaption>
                        Accueil
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{{ path('app_carte_index') }}">
                <figure>
                    <img src="{{ asset('images/logos/menu.png') }}" width="50" alt="menu"/>
                    <figcaption>
                        Notre carte
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{{ path('app_map') }}">
                <figure>
                    <img src="{{ asset('images/logos/map.png') }}" width="50" alt="map"/>
                    <figcaption>
                        Où nous trouver
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{{ path('app_index') }}">
                <figure>
                    <img src="{{ asset('images/logos/icon.jpg') }}" width="100" alt="acceuil"/>
                </figure>
            </a>
        </li>
        <li>
            <a href="{{ path('app_parcours') }}">
                <figure>
                    <img src="{{ asset('images/logos/parcours.png') }}" width="50" alt="parcours"/>
                    <figcaption>
                        Mon Parcours
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{{ path('app_index') }}">
                <figure>
                    <img src="{{ asset('images/logos/prestation.png') }}" width="50" alt="prestation"/>
                    <figcaption>
                        Nos prestations
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{{ path('app_avis_index') }}">
                <figure>
                    <img src="{{ asset('images/logos/avis.png') }}" width="50" alt="avis"/>
                    <figcaption>
                        Vos Avis
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{{ path('app_admin') }}">
                <figure>
                    <img src="{{ asset('images/logos/admin.png') }}" width="1" height="1"/>
                </figure>
            </a>
        </li>
    </ul>
</nav>
{% for flash in app.flashes('success') %}
    <div class="text-center alert alert-success">
        <strong>{{ flash }}</strong>
    </div>
{% endfor %}
{% for flash in app.flashes('error') %}
    <div class="text-center alert alert-danger">
        <strong>{{ flash }}</strong>
    </div>
{% endfor %}
{% block body %}
{% endblock %}
</body>
</html>
