<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FoodTruck, La Quebecoise!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="nav">
    <ul class="mx-auto">
        <li>
            <a href="{{ path('app_index') }}">
                <figure>
                    <img src="{{ asset('images/accueil.png') }}" width="100" alt="acceuil"/>
                    <figcaption>
                        Accueil
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{{ path('app_carte_index') }}">
                <figure>
                    <img src="{{ asset('images/menu.png') }}" width="100" alt="menu"/>
                    <figcaption>
                        Notre carte
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{{ path('app_map') }}">
                <figure>
                    <img src="{{ asset('images/map.png') }}" width="100" alt="map"/>
                    <figcaption>
                        Où nous trouver
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{{ path('app_index') }}">
                <figure>
                    <img src="{{ asset('images/contact.png') }}" width="100" alt="contact"/>
                    <figcaption>
                        Nous contacter
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{{ path('app_admin') }}">
                <figure>
                    <img src="{{ asset('images/admin.png') }}" width="100" alt="admin"/>
                    <figcaption>
                        Administration
                    </figcaption>
                </figure>
            </a>
        </li>
    </ul>
</nav>
{% block body %}
{% endblock %}
</body>
</html>
