{% extends 'base.html.twig' %}
{% set montant = 0 %}
{% block body %}
    <div class="container align-content-center text-center">
        <h1>Liste des Achats</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Montant</th>
                <th colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for achat in achats %}
                <tr>
                    <td>{{ achat.date ? achat.date|date('d/m/Y') : '' }}</td>
                    {% for detail in achat.detailAchats %}
                        {% set montant = montant + detail.prix %}
                    {% endfor %}
                    <td>{{ montant }}</td>
                    {% set montant = 0 %}
                    <td><a href="{{ path('app_achat_show', {'id': achat.id}) }}">
                            <button class="button">Afficher</button>
                        </a></td>
                    <td>{{ include('achat/_delete_form.html.twig') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun achat trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_achat_new') }}">
            <button class="button">Créer un nouveau Achat</button>
        </a>

        <a href="{{ path('app_detail_achat_index') }}">
            <button class="button">Vers les details</button>
        </a>
    </div>
{% endblock %}
