{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Achat du {{ achat.date | date('d/m/Y') }}</h1>
    <div class="container text-center justify-content-center border border-dark">
        {% for detail in achat.detailAchats %}
            {% if detail.matiere.isUnite %}
                <h2>{{ detail.matiere }} : {{ detail.quantite }}</h2>
            {% else %}
                <h2>{{ detail.matiere }} : {{ detail.quantite }} g</h2>
            {% endif %}
        {% endfor %}
        <h3>Total : {{ achat.prix }} €</h3>
    </div>
{% endblock %}
