{% extends 'base.html.twig' %}

{% block body %}
    <div class="body">
        <h1 class="text-center"><u><strong>Notre carte</strong></u></h1>
        <br/>
        <div class="carte">
            <div class="container">
                <div class="plats container">
                    <h2 id="plats" class="titre">Les plats</h2>
                    <br/>
                    {% for plat in plats %}
                        <div class="produit">
                            <h3 class="nom"><u>{{ plat.nom }}</u> {{ plat.prix }} €</h3>
                        </div>
                        <br/>
                    {% endfor %}
                </div>
                <div class="viande">
                    <h4>*Les viandes aux choix :</h4>
                    <br/>
                    <h5 class="description">bacon, saucisses, hache de boeuf frais, effiloché de canard</h5>
                </div>
            </div>
            <div class="container">
                <div class="frites container">
                    <br/>
                    <br/>
                    <br/>
                    <h2 id="frites" class="titre"><u>Les frites portions</u></h2>
                    <img class="boussole" src="{{ asset('images/logos/boussole.png') }}"/>
                    <br/>
                    <br/>
                    <br/>
                    {% for frite in frites %}
                        <div class="produit">
                            <h3 class="nom">{{ frite.nom }} {{ frite.prix }} €</h3>
                        </div>
                        <br/>
                    {% endfor %}
                </div>
            </div>
            <div class="container">
                <div class="autres container">
                    <h2 id="autres" class="titre">Petites faim</h2>
                    <br/>
                    {% for autre in autres %}
                        <div class="produit">
                            <h3 class="nom">{{ autre.nom }}  {{ autre.prix }} €</h3>
                        </div>
                    {% endfor %}
                </div>
                <br/>
                <div class="desserts container">
                    <h2 id="desserts" class="titre">Desert</h2>
                    <br/>
                    {% for dessert in desserts %}
                        <div class="produit">
                            <h3 class="nom">{{ dessert.nom }}  {{ dessert.prix }} €</h3>
                        </div>
                    {% endfor %}
                </div>
                <br/>
                <div class="boissons container">
                    <h2 id="boissons" class="titre">Les breuvages !</h2>
                    <br/>
                    {% for boisson in boissons %}
                        <div class="produit">
                            <h3 class="nom">{{ boisson.nom }}  {{ boisson.prix }} €</h3>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <h3 id="voyage">Bon voyage !</h3>
        <div class="pied">
            <img class="logo w-25" src="{{ asset('images/logos/icon.jpg') }}" alt="logo"/>
            <img class="imgfrite w-25" src="{{ asset('images/poutine.png') }}" alt="frite"/>
            <div class="coordonnes">
                <p>
                    Nous contacter : <br/>
                    quebecfrance@gmail.com <br/>
                    0783320224
                </p>
            </div>
            <h4 class="alcool">* l'abus d'alcool est dangereux pour la santé, à consommer avec modération</h4>
        </div>
    </div>
{% endblock %}
